.login-cont {
  padding: 6rem;
  text-align: center;
  background: gainsboro;
}

.panel {
  width: 55%;
  margin: 4rem auto;
  text-align: center;
  padding: 3rem;
}

.login-head {
  color: rgb(3, 84, 150);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-head h2 {
  margin: 1rem 0;
}

.login-a:hover {
  text-decoration: none;
  color: inherit;
}

.button-login {
  border-radius: 2px;
}

.error-message {
  color: darkred;
  padding-top: 1rem;
}
