<nav class="navbar navbar-default">
  <div class="container-fluid nav-bg">
    <div class="navbar-header">
      <img class="nav-logo" src="../assets/w.png" />
      <a class="navbar-brand" style="color: white" href="#">Welcome!</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#!/dashboard/profile" style="color: #ffdd00">My Profile</a>
      </li>
      <li class="login">
        <a href="#!/home" style="color: #ffdd00">Log out</a>
      </li>
    </ul>
  </div>
</nav>
