<nav class="navbar navbar-default">
  <div class="container-fluid nav-bg">
    <div class="navbar-header">
      <img class="nav-logo" src="../assets/w.png" />
      <a class="navbar-brand" style="color: white" href="#">WesternUnion</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" style="color: white">Send Money</a></li>
      <li>
        <a href="#!/registeration" style="color: #ffdd00">Register</a>
      </li>
      <li class="login">
        <a href="#!/login" style="color: #ffdd00">Log in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="main-container">
  <div class="container main-page">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">Send money overseas for 0 INR fee online.</h1>
        <p class="info">
          Transferring money overseas has never been easier. We offer secure and
          efficient services to ensure your funds reach their destination
          swiftly, with competitive rates and minimal fees. Trust us for all
          your international money transfer needs.
        </p>
        <div class="send-btn">
          <button class="btn btn-lg send">Send Money</button>
          <h3 class="send-btn-text">to more than 200 countries.</h3>
        </div>
        <div class="svg-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="32px"
            height="32px"
            viewBox="0 0 32 32"
            version="1.1"
          >
            <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
            <title>0107_security</title>
            <desc>Created with Sketch.</desc>
            <g
              id="0107_security"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <path
                d="M16,-2.66453526e-14 C16,-2.66453526e-14 22.4643052,4.79 29.9490255,4.79 C29.9490255,4.79 31.6078286,24.71 16,32 C0.392171436,24.71 2.05097447,4.79 2.05097447,4.79 C9.52061481,4.79 16,-2.66453526e-14 16,-2.66453526e-14 Z M22.6151054,10.49 L14.3914637,18.665 L9.38489456,13.69 L7.95731861,15.11 L14.3914637,21.51 L24.0426814,11.91 L22.6151054,10.49 Z"
                id="Combined-Shape"
                fill="#000000"
              ></path>
            </g>
          </svg>
          <strong class="strong-text"
            >Be informed. Be aware. Protect yourself from fraud.</strong
          >
        </div>
      </div>

      <div class="col-md-5">
        <img
          class="img-main"
          src="https://www.westernunion.com/staticassets/R23-09.02.0/media/1150612486-Home-page-image-APAC-1200x840-IND.jpg"
          alt="Image"
          class="img-responsive"
        />
      </div>
    </div>
  </div>
</div>

<div class="info-bar">
  <div class="bar1">
    <img class="icons" src="../assets/lock.png" />
    <p>We encrypt your transfers</p>
  </div>

  <div class="bar1">
    <img class="icons" src="../assets/shield.png" />
    <p>We are committed to keeping your data secure</p>
  </div>
</div>

<div class="embed">
  <div class="embed-vid">
    <iframe
      width="450"
      height="250"
      src="https://www.youtube.com/embed/eXNG2Ffd99g?si=OhLts8TDLvTkzMWn"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="embed-txt">
    <h1>Online money transfers around the world from India 24/7</h1>
    <p>Here’s a video to help you get started.</p>
    <button class="btn btn-lg get-started">Get Started</button>
  </div>
</div>

<div>
  <div class="container">
    <h1 class="text-center">
      Last year, our customers made 268 million transfers
    </h1>
    <div class="row">
      <div class="col-md-6 desc">
        <img class="icons-desc" src="../assets/wide.png" />
        <h3 class="text-center">Worldwide</h3>
        <h4 class="text-center">We’re in 200+ countries and territories.</h4>
      </div>
      <div class="col-md-6 desc">
        <img class="icons-desc" src="../assets/clock.png" />
        <h3 class="text-center">Reliable</h3>
        <h4 class="text-center">We’re in 200+ countries and territories.</h4>
      </div>
    </div>
    <div class="desc">
      <img class="icons-desc" src="../assets/uptime.png" />
      <h3 class="text-center">80 billion USD annually</h3>
      <h4 class="text-center">We’re in 200+ countries and territories.</h4>
    </div>
  </div>
</div>

<div class="footer-top">
  <div class="foot">
    <p>
      Western Union also makes money from currency exchange. When choosing a
      money transmitter, carefully compare both transfer fees and exchange
      rates. Fees, foreign exchange rates, and taxes may vary by brand, channel,
      and location based on a number of factors. Fees and rates subject to
      change without notice.
    </p>
  </div>
</div>
