<basic-nav></basic-nav>

<div class="login-cont">
  <div class="container panel">
    <div class="login-head">
      <h2 class="text-left">Register!</h2>
      <a class="login-a" href="#!/login">Already have an account?Login</a>
    </div>
    <form name="registerForm" ng-submit="signin(registerForm)" novalidate>
      <div class="form-inline">
        <div class="form-group form-items">
          <input
            type="text"
            id="firstname"
            name="firstname"
            class="form-control"
            ng-model="user.firstName"
            placeholder="First Name"
            required
          />
          <div
            ng-show="registerForm.firstname.$touched && registerForm.firstname.$error.required"
            class="error-message"
          >
            Enter First Name
          </div>
        </div>
        <div class="form-group form-items">
          <input
            type="text"
            id="lastname"
            name="lastname"
            ng-model="user.lastName"
            class="form-control"
            placeholder="Last Name"
            required
          />
          <div
            ng-show="registerForm.lastname.$touched && registerForm.lastname.$error.required"
            class="error-message"
          >
            Enter Last Name
          </div>
        </div>
      </div>
      <div class="form-group form-middle">
        <input
          class="form-control"
          placeholder="Enter your e-mail"
          type="email"
          id="email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          name="email"
          ng-model="user.emailId"
          required
        />
        <div
          ng-show="registerForm.email.$touched && registerForm.email.$error.required"
          class="error-message"
        >
          E-mail is required.
        </div>
      </div>

      <div class="form-group has-success form-middle">
        <input
          class="form-control"
          placeholder="Set a Password"
          type="password"
          ng-model="user.password"
          id="password"
          name="password"
          required
        />
        <div
          ng-show="registerForm.password.$touched && registerForm.password.$error.required"
          class="error-message"
        >
          Password is required.
        </div>
      </div>
      <button class="btn btn-primary btn-lg button-login" type="submit">
        Register
      </button>
    </form>
    <div
      ng-if="responseMessage && !errorMessage"
      class="alert-success r-validate"
    >
      {{responseMessage}}. <a class="login-a" href="#!/login">Login now!</a>
    </div>
    <div
      ng-if="errorMessage && !responseMessage"
      class="alert-danger r-validate"
    >
      {{errorMessage}}
    </div>
  </div>
</div>
